{#
/**
 * @file
 * Fieldset element and its children.
 *
 * @see template_preprocess_fieldset()
 */
#}

<fieldset class="fieldsetelement">
  {#  Always wrap fieldset legends in a <span> for CSS positioning. #}
    {% if form.fieldsetelement %}
      <legend class="fieldsetelement__legend fieldsetelement__legend--visible">
        <span class="fieldsetelement__label">{{ form.fieldsetelement }}</span>
      </legend>
      {% endif %}
    <div class="fieldsetelement__wrapper">
      {{ form.candidate_name }}
      {{ form.candidate_mail }}
      {{ form.candidate_number }}
      {{ form.candidate_dob }}
      {{ form.candidate_gender }}
      {{ form.candidate_confirmation }}
      {{ form.candidate_copy }}
      {{ form.actions }}
    </div>
</fieldset>
